<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!--META HTTP-EQUIV="Pragma" CONTENT="no-cache" -->
<!-- META HTTP-EQUIV="Expires" CONTENT="-1" -->
<!-- META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" -->
<!--meta http-equiv="refresh" content="10"-->

<meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
<meta http-equiv="Pragma" content="no-store, no-cache" />
<meta http-equiv="expires" content="mon, 27 sep 2010 14:30:00 GMT">

<style type='text/css'>

.wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 1100px;
   margin-bottom: 10px;
   #background-color: #cccccc
   font-size: 200%;
   font-family:sans-serif;
   color : black;
    background-color : whitesmoke;
   #background-color : cornsilk;
   #background-color : whitesmoke;
  # background-color: #828282
}


.left1{
   position: relative;
   float: left;
   left:   20px;
   width:  550px;
   height: 450px;
   #background-color: #828282
}

.left2{
   position: relative;
   float: left;
   left: 0px;
   width: 550px;
   height: 450px;
   #background-color: #828282
}

.left2-sep {
   float: left;
   left:   0px;
   width:  550px;
   height: 15px;
}

.left2-left{
   position: relative;
   float: left;
   left: 0px;
   width: 250px;
   height: 90px;
}

.left2-right{
   position: relative;
   float: right;
   left: 0px;
   width: 100px;
   height: 90px;
   font-weight: bold;
   color : darkred;
}

.left2-middle{
   position: relative;
   float: left;
   left: 0px;
   width: 500px;
   height: 90px;
   
}

.left2-bottom{
   position: bottom;
   float: left;
   left: 0px;
   width: 500px;
   height: 90px;
}

.status {
   font-size: 100%;
   font-family:sans-serif;
}

body {
#   border-width: 0px;
#   padding: 0px;
#   margin: 0px;
#   font-size: 90%;
   #background-color: #828282;
   background-color: #e7e7de
   width: 1500px;
   #this hides the horizontal scrollbar
   overflow:auto;
   overflow-x:hidden;
}
.img {
  position:right;
  margin:10px;
  right:15px;
}

.bottom-left {
   position:absolute;
   float:left;
   left:25px;
   width: 200px;
   bottom:0px;
}

.bottom-right {
   position:absolute;
   float:right;
   left:425px;
   width: 200px;
   bottom:0px;
}
.bottom-right a:link { text-decoration:none;}

</style>
<title> <!--  tmpl_var page-title -->  </title>
</head>
<body>
  <!-- tmpl_loop docs -->
  <div class="wrapper">
  <hr>

    <div class="left1">
      <div class="img">
	<a href="<!-- tmpl_var cache -->" target="_blank">
	  <img src="<!--tmpl_var image -->"  heigth=450 width=450   />  
	</a>
      </div>

      <div class="bottom-left">

	<!-- tmpl_if pinned-button -->
	<a href="<!-- tmpl_var pin-url -->"> 
	  <img src="<!-- tmpl_var pin -->" height=20 width=20  />  
	</a>
	<!-- /tmpl_if -->  

	<!-- tmpl_if liked-button -->
	<a href="<!-- tmpl_var thumbs-up-url -->"> 
	  <img src="<!-- tmpl_var thumbs-up -->" height=20 width=20  />  
	</a>
	<!-- /tmpl_if -->  

	<!-- tmpl_if disliked-button -->
	<a href="<!-- tmpl_var thumbs-down-url -->"> 
	  <img src="<!-- tmpl_var thumbs-down -->"   height=20 width=20  />  
	</a>
	<!-- /tmpl_if -->  

	<!-- tmpl_if archive-button -->
	<a href="<!-- tmpl_var archive-url -->"> 
	  <img src="<!-- tmpl_var archive -->"   height=20 width=20  />  
	</a>
	<!-- /tmpl_if -->  

	<!-- tmpl_if rearchive-button -->
	<a href="<!-- tmpl_var rearchive-url -->"> 
	  <img src="<!-- tmpl_var rearchive -->"   height=20 width=20  />  
	</a>
	<!-- /tmpl_if -->  

      </div>
      <div class="bottom-right">
	<a href="<!-- tmpl_var mainpage-url -->">
	  main
	</a>
      </div>

    </div>
    
    <div class="left2">

      <div class="left2-sep">
      </div>
      
      <div class="left2-left">
	<strong> <!-- tmpl_var time-delta --> </strong>
	<br />
	<!-- tmpl_var time --> 
      </div>

      <div class="left2-right">
	<!-- tmpl_unless archive-button -->
	  archived
	<!-- /tmpl_unless -->  

	<!-- tmpl_unless disliked-button -->
	disliked
	<!-- /tmpl_unless -->  

	<!-- tmpl_unless liked-button -->
	liked
	<!-- /tmpl_unless -->  

	<!-- tmpl_unless pinned-button -->
	pinned
	<!-- /tmpl_unless -->  

      </div>

      <div class="left2-middle">
	<!-- tmpl_var title --> 
      </div>
      <div class="left2-bottom">
	<a href="<!-- tmpl_var redirect-resolved-url -->" target="_blank"> 
	  <!-- tmpl_var resolved-url -->
	</a>
      </div>
    </div> 
  </div>
  <!-- /tmpl_loop -->
  </body>
</html>
