<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Twitter urls</title>

<!-- META HTTP-EQUIV="Pragma" CONTENT="no-cache" -->
<!-- META HTTP-EQUIV="Expires" CONTENT="-1" -->
<!--meta http-equiv="refresh" content="10"-->

<meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
<meta http-equiv="Pragma" content="no-store, no-cache" />
<meta http-equiv="expires" content="mon, 27 sep 2010 14:30:00 GMT">

<style type='text/css'>



.top {
   position: relative;  
   left:0px;
   top:10px;
   height: 100px;
   width:  1200px;
   font-size: 400%;
   font-family:sans-serif;
   text-align:center;
   color:#000000;

   #background-color: #111111;
   #background-color: #ffffcc;
}

.bottom {
   position:absolute;
   left:25px;
   bottom:0px;
}


.left-margin {
   float: left;
   left:   0px;
   width:  50px;
   height: 45px;
}

.hsep {
   float: left;
   left:   0px;
   width:  1200px;
   height: 40px;

}

.sep {
   float: left;
   left:   0px;
   width:  10px;
   height: 45px;

}

.header {
   position: relative;
   float: left;
   left:   0px;
   width:  150px;
   height: 45px;
   text-align : center;
   #background-color: #828282;
}

.wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 1300px;
   margin-bottom: 10px;
   background-color: #cccccc
   #background-color: #828282;
   font-size: 200%;
   font-family:sans-serif;

}

.wrapper a:link { text-decoration:none;}

.margin {
   float: left;
   left:   0px;
   width:  150px;
   height: 40px;

}
   


.left1 {
   position: relative;
   float: left;
   left:   0px;
   width:  130px;
   height: 45px;
   text-align : right;
   padding-right : 20px;
   background-color: #cccccc;
   #background-color: #828282;
}

.left2{
   position: relative;
   float: left;
   left: 0px;
   width: 130px;
   height: 45px;
   text-align : right;
   padding-right : 20px;
   background-color: #ff3333;
   #background-color: #828282;

}




.left3 {
   position: relative;
   float: left;
   left:   0px;
   width:  130px;
   height: 45px;
   text-align : right;
   padding-right : 20px;
   background-color: #7777ff;
   #background-color: #66ffff

}

.left4{
   position: relative;
   float: left;
   left: 0px;
   width: 120px;
   height: 45px;
   text-align : right;
   padding-right : 30px;
   #background-color: #828282

}

.left5 {
   position: relative;
   float: left;
   left:   0px;
   width:  120px;
   height: 45px;
   text-align : right;
   padding-right : 30px;
   #background-color: #828282
}

.left6{
   position: relative;
   float: left;
   left: 0px;
   width: 130px;
   height: 45px;
   text-align : right;
   padding-right : 20px;
   #background-color: #828282
}

body {
#   border-width: 0px;
#   padding: 0px;
#   margin: 0px;
#   font-size: 90%;
   #background-color: #828282;
   background-color: #e7e7de
   width: 1500px;
   #this hides the horizontal scrollbar
   overflow:auto;
   overflow-x:hidden;
}
.img {
  position:right;
  margin:10px;
  right:15px;
}


</style>
</head>

<body>

    <div class="top">
      STATISTICS
    </div>

    <div class="hsep">
    </div>

    <div class="wrapper">
      
      <div class="left-margin">
      </div>
    
      <div class="header">
      </div>
      
      <div class="sep">
      </div>
      
      <div class="header">
	total
      </div>
      <div class="sep">
      </div>
      <div class="header">
	 new
      </div>
      <div class="sep">
      </div>
      <div class="header">
	archived
      </div>
      <div class="sep">
      </div>
      <div class="header">
	pinned
      </div>
      <div class="sep">
      </div>
      <div class="header">
	liked
      </div>
      <div class="sep">
      </div>
      <div class="header">
	disliked
      </div>
    </div>
    
    <!-- tmpl_loop statistics -->
    <div class="wrapper">    
    
      <div class="left-margin">
      </div>
      
    <div class="margin">
      <!-- tmpl_var tag --> 
    </div>
    
    <div class="sep">
    </div>
    
    <div class="left1">
      <a href="<!-- tmpl_var total-query-url -->" > 
      <!-- tmpl_var total -->
    </div>
    
    <div class="sep">
    </div>
    
    <div class="left2">
      <a href="<!-- tmpl_var new-query-url -->" > <!-- tmpl_var new --> </a>
    </div>
    
    <div class="sep">
    </div>
    
    <div class="left3">
      <a href="<!-- tmpl_var archived-query-url -->" > 
      <!-- tmpl_var archived -->
    </div> 
    
    <div class="sep">
    </div>
    
    <div class="left4">
      <a href="<!-- tmpl_var pinned-query-url -->" > 
      <!-- tmpl_var pinned -->
    </div>
    
    <div class="sep">
    </div>
    
    <div class="left5">
      <a href="<!-- tmpl_var liked-query-url -->" > 
      <!-- tmpl_var liked -->
    </div> 
    
    <div class="sep">
    </div>
    
    <div class="left6">
      <a href="<!-- tmpl_var disliked-query-url -->" > 
      <!-- tmpl_var disliked -->
    </div>
    
    <div class="sep">
    </div>
    
  </div>
  <!-- /tmpl_loop -->
</body>
</html>
